In [ ]:
print("selios")

selios

In [ ]:
name = input("enter your name:")
city = input("enter a city: " )
print ("hello", name, "from", city)

enter your name:clem
enter a city: london
hello clem from london

In [ ]:
x = 10
print(x*3)

30

exercise:

Ask the user to enter their name, tel num and city.

Print in the following form:

Clem from aix, tel is 34343434

In [ ]:
x = int(input("enter a number: "))
y = int(input("enter a number: "))
print (x+y)

enter a number: 25
enter a number: 45
70

In [ ]:
x = int(input("enter a number: "))
y = float(input("enter a number: "))
print (x+y)

enter a number: 35
enter a number: 5.5
40.5

In [ ]:
x = float(input("enter a number: "))
y = float(input("enter a number: "))
print (x+y)

enter a number: 6
enter a number: 5.5
11.5

In [ ]:
x=10
y=0

if y==0:
  print("i cannot divide by zero")
else:
  print(x/y)

i cannot divide by zero

In [ ]:
x = int(input("enter a number"))
y = int(input("enter a number"))
if x>y:
  print ("mx is", x)
else:
  print ("max is", y)

enter a number3
enter a number13
max is 13

In [ ]:
x= int(input("enter a number: "))

if x>0:
  print("positive")
elif x==0:
  print ("zero")
else:
  print("negative")

enter a number: 48
positive

In [ ]:
x= float(input("enter a number: "))

if x>=0 and x<10:
  print("fail")
elif x>=10 and x<15:
  print("pass")
elif x>=15 and x<=20:
  print("distinction")
else:
  print("error")

enter a number: 25
error

In [ ]:
x= int(input("enter a number: "))

if x>0 and x<10:
  print("numner netween 0 and 10")
else:
  print("something else...")

enter a number: 10
something else...

In [ ]:
age = int(input("how old are you"))
print(age*3)

how old are you20
60